body{
font-family: 'Inconsolata';
}

.container{
width: 500px;
margin: 0 auto;
}

.kotak-input{
display: block;
width: 100%;
height: 150px;
resize: none;
}

p > span{
color: coral;
font-weight: bold;
}