body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
}

.kotak-input {
    display: block;
    resize: none;
    margin: auto;
    width: 100%;
}

p > span {
    color: coral;
    font-weight: bold;
}

span {
    color: rgb(0, 255, 89);
}

#hf {
    color: blue;
}

button {
    display: inline;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 800px;
    }
}


/* DARK MODE */
.dark-mode {
    background: #171b25;
    color: #ebecf7;
}

/* EDITOR DARK MODE */
.dark-mode #editor-kecil {
    background: #2e3443;
    color: #ebecf7;
}

/* TOMBOL DARK MODE */
.dark-mode button {
    background: #29ddcc;
}

/* HAPUS BORDER TOMBOL */
button {
    border: none;
}

/* MODE SEPHIAAAAAA*/
.sephia-mode {
    background: #f4ecd8;
    color: #5b4636;
}

/* EDITOR SEPHIA */
.sephia-mode #editor-kecil {
    background: white;
    color: #5b4636;
}

/* TOMBOL SEPHIA */
.sephia-mode button {
    background: #29ddcc;
    color: #f4ecd8;
}
